* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;    
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    text-decoration: none;
    color: inherit;
}
/* header styles */
nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    height: 77px;
}
.header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header-right h1 {
    margin-left: 20px;
}

.header h1 {
    display: inline-block;
}
#icon {
    height: auto;
    width: 30px;
}
/* main styles */
.main {
    margin-top: 77px;
    padding-top: 50px;
    background-color: #fafafa;
    min-height: 2000px;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
}

.frame {
    background: #fff;
    border: 1px solid #efefef;
    width: 600px;
    min-height: 600px;
    margin-bottom: 60px;
}
.frame-header {
    border-bottom: 1px solid #efefef;
    padding: 8px;
}
.frame-body {

}
.frame-body img {
    max-width: 100%;
}
.italic {
    font-style: italic;
}
.frame-footer {
    border-top: 1px solid #efefef;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}
button {
    padding: 5px;
    background: #4ebee4;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}



/* footer styles */
.footer {
    display: flex;
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
}

/* grid testing */

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 100px 40px;
}

.gheader {
    background: rgb(151, 205, 180);
    grid-column: span 12;
}
.menu {
    background: rgb( 253, 112, 109);
    grid-column: span 4;
}
.content {
    background: rgb(254,203,101);
    grid-column: span 8;
}
.gfooter {
    background: rgb(151, 205, 180 );
    grid-column: span 12;
}