* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    --mainColor: gold;
    background: var(--mainColor);
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
